{% extends "frlsim/base.html" %}

{% block head %}
<title>Who We Are | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="Who We Are | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/about/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/sep20.png"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800'>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
  <div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Who We Are</div>
</div>

<h1>Our Actions</h1>

<div class="ui items">
  <div class="item">
    <div class="ui medium  image">
      <img src="/images/nov30.jpg">
    </div>
    <div class="content">
      <a class="header">Big Walk Out</a>
      <div class="meta">
        <span>November 30, 2018</span>
      </div>
      <div class="description">
        <p>Expectations were smashed as hundreds of school students attended the 'Big Walk Out' and striked for climate action in front of Sharon Claydon's office.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui medium image">
      <img src="/images/mar15.jpg">
    </div>
    <div class="content">
      <a class="header">Hunter students march through streets</a>
      <div class="meta">
        <span>March 15, 2019</span>
      </div>
      <div class="description">
        <p>Hunter students vowed to keep striking from school until the government takes action on climate change after 2,000 attended the March 15 strike.</p>
      </div>
      <div class="extra">
        <div class="ui label"><i class="users icon"></i> 2,000 strikers</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui medium image">
      <img src="/images/sep20.png">
    </div>
    <div class="content">
      <a class="header">10,000 strike for climate action</a>
      <div class="meta">
        <span>September 20, 2019</span>
      </div>
      <div class="description">
        <p>Newcastle's largest ever climate demonstration saw 10,000 people strike for climate action at Civic Park.</p>
      </div>
      <div class="extra">
        <div class="ui label"><i class="users icon"></i> 10,000 strikers</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui medium image">
      <img src="/images/nov29.jpg">
    </div>
    <div class="content">
      <a class="header">Bushfire solidarity sit-down</a>
      <div class="meta">
        <span>November 29, 2019</span>
      </div>
      <div class="description">
        <p>In solidarity with victims of the 2019-20 bushfire season, Newcastle School Strike 4 Climate held a sit-down in Civic Park that raised over $800 for the Red Cross Bushfire Appeal.</p>
      </div>
      <div class="extra">
        <div class="ui label"><i class="users icon"></i> 200 attendees</div>
        <div class="ui label"><i class="dollar sign icon"></i> $800 raised</div>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui medium image">
      <img src="/images/sep25.jpg">
    </div>
    <div class="content">
      <a class="header">Fund Our Future Not Gas</a>
      <div class="meta">
        <span>September 25, 2020</span>
      </div>
      <div class="description">
        <p>A COVID-safe group of 20 students staged an action at Nobby's Beach calling on the government to fund our future not gas.</p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui medium image">
      <img src="/images/students.jpg">
    </div>
    <div class="content">
      <a class="header">Be a part of what's next</a>
      <div class="meta">
        <span>May 21, 2021</span>
      </div>
      <div class="description">
        <p>Newcastle's next climate strike is scheduled for Friday May 21, 2021. Will you strike with us and call on the federal government to #FundOurFutureNotGas?</p>
        <a href="/may21/"><button class="ui right labeled icon button"  style="background-color:#9e2562;color:white;">
  <i class="right arrow icon"></i>
  Strike with us
</button></a>
      </div>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<h2>Our Demands</h2>
<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/images/fundourfuturenotcoal.jpg/">
    </div>
    <div class="middle aligned content">
      <a class="header">1. No new coal, oil and gas projects, including the Adani mine.</a>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/super.jpg">
    </div>
    <div class="middle aligned content">
      <a class="header">2. 100% renewable energy generation & exports by 2030.</a>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/savemyfuture.jpg/">
    </div>
    <div class="middle aligned content">
      <a class="header">3. Fund a just transition & job creation for all fossil-fuel workers & communities.</a>
    </div>
  </div>
</div>
{% endblock %}
