<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, max-scale=1">

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/components/accordion.js"></script>
		
		<script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZLG4EVK9BH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZLG4EVK9BH');
</script>

		{% block head %}
		{% endblock %}
		<meta property="og:type" content="website"/>
		<meta name="theme-color" content="#9e2562">
		<meta name="twitter:card" content="summary_large_image">
		
	</head>
<body>
<!-- Sidebar Menu -->
<div class="ui sidebar vertical inverted menu thin left">
  <a class="header item" href="/">Home</a>
	<a class="item" href="/may21/">May 21</a>
	<a class="item" href="/about/">Who We Are</a>
	<a class="item" href="/take-action/">Take Action</a>
	<!-- <a class="item" href="/newsletter/">Newsletter</a> -->
  <!-- <a class="item" href="/media/">Media</a> -->
</div>
<!-- Following Menu -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui container">
      <div class="ui fixed inverted menu" style="margin-right: 1.5em;background-color:#9e2562;">
			<div class="ui container">
        <a class="toc item">
          <i class="sidebar icon" style="font-size:1.5em"></i>
        </a>
				<a class="header item" href="/">Newcastle School Strike 4 Climate</a>
				<a class="item" href="/may21/">May 21</a>
	      <a class="item" href="/about/">Who We Are</a>
	      <a class="item" href="/take-action/">Take Action</a>
	      <!-- <a class="item" href="/media/">Media</a> -->
        <div class="right item">
          <a class="ui inverted button" href="/take-action/">Take Action <i class="right arrow icon"></i></a>
        </div>
			</div>
		</div>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/sidebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/visibility.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/transition.js"></script>
		<script>
    $(document)
    .ready(function() {

      // create sidebar and attach to menu open
      $('.ui.sidebar')
        .sidebar('attach events', '.toc.item')
      ;

    });
    </script>
  <style>   
  .hidden.menu {
      display: none;
    }

    .masthead.segment {
      padding: 1em 0;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
 
    .ui.vertical.stripe {
      padding: 8em 0;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0;
    }

    .quote.stripe.segment {
      padding: 0;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 3em 0;
    }

    .fixed.inverted.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .fixed.inverted.menu .item {
        display: none;
      }
    .fixed.inverted.menu .toc.item {
      display: block; !important
    }
    }
</style>
		{% block hero %}
		{% endblock %}
		<div class="ui main text container" style="margin-top: 1.5em; margin-bottom: 1.5em;">
			{% block content %}
			{% endblock %}
		</div>
		<div class="ui inverted vertical footer segment">
    <div class="ui container" style="margin-top:1.5em;margin-bottom:1.5em">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column" style="text-align:center;">
    <img src="/images/logo.png" alt="Logo Backgroundless.png" style="width:125px;height:125px;object-fit:cover;object-position:50% 50%">      
    <h3 class="ui inverted header" style="font-size:19px">NEWCASTLE SCHOOL STRIKE 4 CLIMATE</h3>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Pages</h4>
          <div class="ui inverted link list">
            <a href="/may21/" class="item">May 21</a>
            <a href="/about/" class="item">Who We Are</a>
            <a href="/take-action/" class="item">Take Action</a>
            <!-- <a href="/newsletter/" class="item">Newsletter</a> -->
            <!--<a href="/media/" class="item">Media</a>-->
            <a href="/contact/" class="item">Contact Us</a>
			      <a href="/privacy/" class="item">Privacy Policy</a>
          </div>
          <h4 class="ui inverted header">© 2021 Newcastle School Strike 4 Climate</h4>
          
        </div><div class="seven wide column">
          <h4 class="ui inverted header">Acknowledgement of Country</h4>
          <p>Newcastle School Strike 4 Climate Australia pays our respect to the Traditional Owners of the land on which we organise, the Awabakal and Worimi peoples, who have cared for this land for tens of thousands of years.</p>

<p>We acknowledge that this land was stolen from them, and that sovereignty has never been ceded. There can be no climate justice without First Nations justice.</p>
        </div>

      </div>
    </div>
  </div>
</div>
</html>

