{% extends "frlsim/base.html" %}

{% block head %}
<title>Contact Us | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="Contact Us | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/take-action/contact/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/students.jpg"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Contact Us</div>
</div>

<h2>How you can get in touch</h2>

<p>You can get in contact with us through Facebook, Instagram or by filling out the form below! Our email is <strong>newyschoolstrike@gmail.com</strong> if you prefer to email manually.</p>

<a href="https://www.facebook.com/newyschoolstrike"><button class="ui facebook button">
  <i class="facebook icon"></i>
  Message us on Facebook
</button></a> <a href="https://www.instagram.com/newyschoolstrike/"><button class="ui instagram button">
  <i class="instagram icon"></i>
  Message us on Instagram
</button></a>

<h3>Contact us through email</h3>

<form class="ui form" name="submit-to-google-sheet">
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" id="firstName" name="firstName" placeholder="First Name*" required="true">
      </div>
      <div class="field">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Contact Details</label>
    <div class="two fields">
      <div class="field">
        <input type="email" id="email" name="email" placeholder="Email*" required="true">
      </div>
      <div class="field">
        <input type="number" id="phone" name="phone" placeholder="Phone Number">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Message</label>
    <textarea id="message" name="message"></textarea>
  </div>
<p style="font-size:13px;margin-top:1em;">Your data is kept in accordance with our <a href="/privacy">privacy policy</a>.</p>
  <input class="ui button" type="submit" value="Submit">
</form>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbwSFOucIjBO0XYb_QtWSMKQc83jK1MAiyrNOhswgPJfhZ5Dhw20PnCx_yuf8w293nj8/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(function(response){
          console.log('Success!', response);
          window.location.href = "https://newyschoolstrike.com/thankyou/";
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
{% endblock %}
