{% extends "frlsim/base.html" %}

{% block head %}
<title>Email Signup | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="Email Signup | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/take-action/emailsignup/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/students.jpg"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
  		
  <div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <a class="section" href="/take-action/">Take Action</a>
  <i class="right angle icon divider"></i>
  <div class="active section" id="schoolBreadcrumb">Mailing List</div>
</div>

<h1>Stay updated by signing up to our mailing list!</h1>

<form class="ui form" name="submit-to-google-sheet">
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" id="firstName" name="firstName" placeholder="First Name*" required="true">
      </div>
      <div class="field">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Contact Details</label>
    <div class="two fields">
      <div class="field">
        <input type="email" id="email" name="email" placeholder="Email*" required="true">
      </div>
      <div class="field">
        <input type="number" id="phone" name="phone" placeholder="Phone Number">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden" id="schoolStudent" name="schoolStudent">
      <label for="schoolStudent">I am a school student</label>
    </div>
  </div>
<p style="font-size:13px;margin-top:1em;">Your data is kept in accordance with our <a href="/privacy">privacy policy</a>.</p>
  <input class="ui button" type="submit" value="Submit">
</form>
<script>$('.ui.checkbox').checkbox();</script>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbzPW9GJAWVRKe7_hHTcR1CLBow-eulYrkRN3kp1ZW_rbjaPmp5e-4giluLTp9WjtH45FA/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(function(response){
          console.log('Success!', response);
          window.location.href = "https://newyschoolstrike.com/thankyou/";
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
{% endblock %}
