{% extends "frlsim/base.html" %}

{% block head %}
<title>Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/sep20.png"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
{% endblock %}

{% block hero %}
<div class="hero-image">
<style>body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("images/sep20.png");

  /* Set a specific height */
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
    }</style>
  <div class="hero-text">
    <h1 class="ui inverted header">Newcastle School Strike 4 Climate</h1>
    <h2 style="font-weight:normal">#FundOurFutureNotGas</h2>
    <br><a href="/take-action/"><div class="ui huge primary button" style="background-color:#9e2562;">Take Action <i class="right arrow icon"></i></div>
  </div></a>
</div>
{% endblock %}

{% block content %}
<div style="text-align: center"><h2>What We Do</h2>
<p>We are Newcastle School Strike 4 Climate, the local chapter of a global student movement protesting against the lack of action on the climate crisis. Starting in 2018, thousands of Newcastle students have striked for climate action and we have grown into one of the largest movements in Newcastle's history.</p>
<div class="ui three statistics">
  <div class="statistic">
    <div class="value">
      6
    </div>
    <div class="label">
      Actions
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      10,000+
    </div>
    <div class="label">
      Strikers
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      3
    </div>
    <div class="label">
      Demands
    </div>
  </div>
</div>
<br>
<a href="/about/"><button class="ui button">
  Find out more
</button></a> <a href="/may21/"><button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  Strike with us
</button></a></div>

<div class="ui divider"></div>

<h2>Our Demands</h2>
<div class="ui items">
  <div class="item">
    <div class="ui small image">
      <img src="/images/fundourfuturenotcoal.jpg/">
    </div>
    <div class="middle aligned content">
      <a class="header">1. No new coal, oil and gas projects, including the Adani mine.</a>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/super.jpg">
    </div>
    <div class="middle aligned content">
      <a class="header">2. 100% renewable energy generation & exports by 2030.</a>
    </div>
  </div>
  <div class="item">
    <div class="ui small image">
      <img src="/images/savemyfuture.jpg/">
    </div>
    <div class="middle aligned content">
      <a class="header">3. Fund a just transition & job creation for all fossil-fuel workers & communities.</a>
    </div>
  </div>
</div>

<div class="ui divider"></div>

<h2>How you can help</h2>
<p>In this movement everyone is welcome and everyone is needed. Whether you are young or old, it is your planet too! Visit our 'Take Action' page to find ways you can support Newcastle School Strike 4 Climate.</p>

<a href="/take-action/"><button class="ui right labeled icon button"  style="background-color:#9e2562;color:white;">
  <i class="right arrow icon"></i>
  Take Action
</button></a>

<h2>Still have questions?</h2>
<p>If you still have questions you can get in touch with us through our Facebook, Instagram or by sending us an email through the contact form below.</p>
<a href="/contact/"><button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  Get in touch
</button></a>
{% endblock %}
