{% extends "frlsim/base.html" %}

{% block head %}
<title>Join the Team | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="Join the Team | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/take-action/join/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/students.jpg"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
{% endblock %}

{% block hero %}
<div class="hero-image">
<style>body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("/images/team.jpg");

  /* Set a specific height */
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
    }</style>
  <div class="hero-text">
    <h1 class="ui inverted header">Join our Team</h1>
    <h2 style="font-weight:normal">We're looking for students to join our organising team!</h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="ui breadcrumb">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <a class="section" href="/take-action/">Take Action</a>
  <i class="right angle icon divider"></i>
  <div class="active section" id="schoolBreadcrumb">Join our Team</div>
</div>

<h2>How you can join the team</h2>

<p>We need all the support we can get in the lead up to the May 21 strike. That includes both adults and students. You can get in contact with us through Facebook, Instagram or by filling out the form below to let us know how you can help out!</p>

<a href="https://www.facebook.com/newyschoolstrike"><button class="ui facebook button">
  <i class="facebook icon"></i>
  Message us on Facebook
</button></a> <a href="https://www.instagram.com/newyschoolstrike/"><button class="ui instagram button">
  <i class="instagram icon"></i>
  Message us on Instagram
</button></a>

<h3>Let us know how you can help!</h3>

<form class="ui form" name="submit-to-google-sheet">
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" id="firstName" name="firstName" placeholder="First Name*" required="true">
      </div>
      <div class="field">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Contact Details</label>
    <div class="two fields">
      <div class="field">
        <input type="email" id="email" name="email" placeholder="Email*" required="true">
      </div>
      <div class="field">
        <input type="number" id="phone" name="phone" placeholder="Phone Number">
      </div>
    </div>
  </div>
  <div class="field">
    <label>How can you help?</label>
    <textarea id="message" name="message"></textarea>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden" id="schoolStudent" name="schoolStudent">
      <label for="schoolStudent">I am a school student</label>
    </div>
  </div>
<p style="font-size:13px;margin-top:1em;">Your data is kept in accordance with our <a href="/privacy">privacy policy</a>.</p>
  <input class="ui button" type="submit" value="Submit">
</form>
<script>$('.ui.checkbox').checkbox();</script>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbwSFOucIjBO0XYb_QtWSMKQc83jK1MAiyrNOhswgPJfhZ5Dhw20PnCx_yuf8w293nj8/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(function(response){
          console.log('Success!', response);
          window.location.href = "https://newyschoolstrike.com/thankyou/";
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
{% endblock %}

