{% extends "frlsim/base.html" %}

{% block head %}
<title>May 21 Climate Strike | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="May 21 Climate Strike | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/may21/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/students.jpg"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
{% endblock %}

{% block hero %}
<div class="hero-image">
<style>body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("/images/students.jpg");

  /* Set a specific height */
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
    }</style>
  <div class="hero-text">
    <h1 class="ui inverted header">May 21 Climate Strike</h1>
    <h2 style="font-weight:normal">On May 21, we’re striking to tell the Morrison Government that if they care about our future, they must stop funding gas.</h2>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="ui breadcrumb">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section" id="schoolBreadcrumb">May 21</div>
</div>

<h1>May 21 National Climate Strike</h1>

<p>Large parts of NSW and SE QLD are experiencing a flooding emergency. SS4C is thinking of and standing with all the people who are impacted- particularly those who have lost homes and livelihoods, been evacuated or stranded and who are anxiously watching the rising waters.</p>

<p>Climate change is intensifying the risk of flooding and heavy rainfall and SS4C is calling on the Government to take our future seriously and treat climate change as what it is: a crisis.</p>

<p>The Morrison Government could be protecting our climate, land and water, and creating thousands of new jobs by growing Australia’s renewable energy sector and backing First Nations solutions to protect Country.</p>
 
<p>Instead, they are lining the pockets of multinational gas companies, which are fuelling the climate crisis, devastating our land and water, wrecking our health and creating very few jobs.</p>
 
<p><strong>On May 21, we’re striking to tell the Morrison Government that if they care about our future, they must stop funding gas.</strong></p>

<a href="https://www.facebook.com/events/458390015403237/"><button class="ui facebook button">
  <i class="facebook icon"></i>
  Share the event on Facebook
</button></a> <a href="https://www.instagram.com/newyschoolstrike/"><button class="ui instagram button">
  <i class="instagram icon"></i>
  Follow us on Instagram
</button></a>


<h2>Frequently asked questions</h2>

<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    What can striking achieve?
  </div>
  <div class="content">
    <p class="transition hidden">Many question why millions of children and adults across the world are taking the time to strike: don’t they have school, work or other responsibilities?</p>
    <p class="transition hidden">The answer is simple: We strike because we have no choice. We are fighting for our future and for our children’s future. We strike because there is still time to change, but time is of the essence. The sooner we act, the better our shared future will be.</p>
<p class="transition hidden">So, we say to those who question our actions: How can we study or work for a future, which is being destroyed in front of our eyes? We are losing football-sized fields of irreplaceable Amazon rainforest every minute. Why should we spend the time and effort on an education, when our governments are not listening to the finest scientists? Why should we study so we can do great things later, when the time for greatness, for action, is now? Humans created this crisis, so humans have to stop it – or face global destruction. Already, we see heat waves, droughts, wildfires, floods and 200 species are disappearing every day from the face of the earth, never to return.</p>
<p class="transition hidden">Civil disobedience is effective. Collective action helps us cope with climate anxiety and worry. Striking together brings us hope, and it really does lead to direct change – we learned this much in the history classes you say we should be in. Together, we are powerful. There is a better life on the other side of the crisis.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What can I do to support the strike? (Student)
  </div>
  <div class="content">
    <p class="transition hidden">Turning up in Civic Park on May 21 with your friends is the easiest way to support the strike. To send a message to the federal government, we need everyone. Here's some ways you can help support the strike:</p>
    <ul class="transition hidden">
      <li>Hand out flyers to people at your school and local community (you can <a href="/images/poster.png/">print your own</a> or DM us to collect a stack) </li>
      <li>Follow us and share our posts on <a href="https://www.instagram.com/newyschoolstrike/">Instagram</a> and <a href="https://www.facebook.com/newyschoolstrike">Facebook</a></li>
      <li>Sign our <a href="/take-action/pledge/">#FundOurFutureNotGas pledge</a></li>
    </ul>
    <p class="transition hidden">If you would like to get involved in the organising team, please get in contact and let us know!</p>
<a class="transition hidden" href="/take-action/join/"><button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  Join the team
</button></a>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What can I do to support the strike? (Adult)
  </div>
  <div class="content">
    <p class="transition hidden">While School Strike 4 Climate is a student-led movement and students are prioritised, this movement wouldn't be possible without the support of adults. The easiest way to support the student strikers is to attend the strike and share it with your circles. Everyone is wanted in this movement, and everyone is needed.</p>
    <p class="transition hidden">If you think you can contribute to organising the strike, please get in contact and let us know how!</p>
<a class="transition hidden" href="/take-action/join/"><button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  Get in contact
</button></a>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    How do I get there?
  </div>
  <div class="content">
   <p class="transition hidden">We encourage everyone to get to the strike by using public transport, or walking/cycling if you are nearby, to reduce traffic and our impact on the environment. You can use Google Maps or Transport NSW Trip Planner to find your personal public transport options, or if you're coming from your school you can find your school's page for transport directions.</p>
<a class="transition hidden" href="/school/"><button class="ui right labeled icon button">
  <i class="right arrow icon"></i>
  Find your school
</button></a>
  </div>
</div>

<script>
        $('.ui.accordion').accordion();
</script>
​
<p>Our event is COVID-safe and we ask that attendees follow restrictions, bring face masks and hand sanitiser, practice physical distancing of 1.5 metres, and stay home if they have cold or flu-like symptoms.</p>

 <h2>Coming to the strike? Register your interest for updates!</h2>

<form class="ui form" name="submit-to-google-sheet">
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" id="firstName" name="firstName" placeholder="First Name*" required="true">
      </div>
      <div class="field">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Contact Details</label>
    <div class="two fields">
      <div class="field">
        <input type="email" id="email" name="email" placeholder="Email*" required="true">
      </div>
      <div class="field">
        <input type="number" id="phone" name="phone" placeholder="Phone Number">
      </div>
    </div>
  </div>
    <div class="field">
    <label>School (leave blank if not a student) and Postcode</label>
    <div class="two fields">
      <div class="field">
        <input type="text" id="schoolInput" name="school" placeholder="School" list="schools">
        <datalist id="schools">
          <option value="Belmont Christian College">
          <option value="Belmont High School">
          <option value="Bishop Tyrrell Anglican College">
          <option value="Callaghan College Jesmond Campus">
          <option value="Callaghan College Wallsend Campus">
          <option value="Callaghan College Waratah Campus">
          <option value="Cardiff High School">
          <option value="Charlton Christian College">
          <option value="Francis Greenway High School">
          <option value="Glendale Technology High School">
          <option value="Hunter Christian School">
          <option value="Hunter School of The Performing Arts">
          <option value="Hunter Sports High School">
          <option value="Hunter Valley Grammar School">
          <option value="Kotara High School">
          <option value="Lake Macquarie High School">
          <option value="Lambton High School">
          <option value="Macquarie College">
          <option value="Merewether High School">
          <option value="Newcastle Grammar School">
          <option value="Newcastle High School">
          <option value="Newcastle Rudolf Steiner School">
          <option value="San Clemente High School">
          <option value="St Francis Xavier's College">
          <option value="St Mary's Catholic College">
          <option value="St Paul's Catholic College">
          <option value="St Philip's Christian College">
          <option value="St Pius X High School">
          <option value="Swansea High School">
          <option value="Toronto High School">
          <option value="Warners Bay High School">
          <option value="West Wallsend High School">
          <option value="Whitebridge High School">
        </datalist>
      </div>
      <div class="field">
        <input type="number" id="postcode" name="postcode" placeholder="Postcode">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden" id="schoolStudent" name="schoolStudent">
      <label for="schoolStudent">I am a school student</label>
    </div>
  </div>
  <div class="field">
    <div class="ui checked checkbox">
      <input type="checkbox" tabindex="0" class="hidden" id="mailingList" name="mailingList">
      <label for="mailingList">I would like to receive updates from Newcastle School Strike 4 Climate</label>
    </div>
  </div>
<p style="font-size:13px;margin-top:1em;">Your data is kept in accordance with our <a href="/privacy">privacy policy</a>.</p>
  <input class="ui button" type="submit" value="Submit">
</form>
<script>$('.ui.checkbox').checkbox();</script>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbzUeb23hWErZSNjvGy2Z2bp2EDzbf3ZsMRZZTs_ZKxUf5RlFQ8-r6LCQ7IeayT88Mu3fw/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(function(response){
          console.log('Success!', response);
          window.location.href = "https://newyschoolstrike.com/thankyou/";
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
{% endblock %}

