{% extends "frlsim/base.html" %}

{% block head %}
<title>Newsletters | Newcastle School Strike 4 Climate</title>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
	<h1>Newsletters</h1>
	
	{% for issue, issue_newsletters in newsletters|groupby('issue') %}
		<h2>Issue No. {{ issue }}</h2>
		<ul class="ui list">
			{% for newsletters in issue_newsletters %}
				<li><a href="/newsletter/{{ newsletter.code }}">{{ newsletter.issue }}.{{ newsletter.article }}: {{ newsletter.metadata.title }}</a></li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
