{% extends "frlsim/base.html" %}

{% block head %}
<title>{{ newsletter.metadata.title }} | Newcastle School Strike 4 Climate</title>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
	<h1>{{ newsletter.metadata.title }}</h1>
	
	<p>
		Article No. {{ newsletter.article }} of Issue {{ newsletter.issue }}.
		Published on {{ newsletter.metadata.date }}.
		{% if newsletter.metadata.author %}Written by {{ newsletter.metadata.author }}.{% endif %}
	</p>
	
	<div class="ui top attached tabular menu">
		{% if newsletter.can_render %}<a class="active item" data-tab="text">Text{% if not newsletter.content %} (auto-converted){% endif %}</a>{% endif %}
		<a class="item" data-tab="details">Details</a>
	</div>
	
	{% if newsletter.can_render %}
		<div class="ui bottom attached active tab segment" data-tab="text">
			{{ newsletter.render() }}
		</div>
	{% endif %}

		<div class="ui bottom attached tab segment" data-tab="details">
			<h2>Details</h2>
			<ul class="ui list">
			    <li><b>Title:</b> {{ newsletter.metadata.title }}</li>
			    <li>Article No. {{ newsletter.article }} of Issue {{ newsletter.issue }}.</li>
		        <li>Published on {{ newsletter.metadata.date }}.</li>
		        {% if newsletter.metadata.author %}<li>Written by {{ newsletter.metadata.author }}.</li>{% endif %}
			</ul>
			<h2>Links</h2>
			<ul class="ui list">
				{% if newsletter.metadata.urls %}
				{% for url in newsletter.metadata.urls %}
					<li><a href="{{ url }}">{{ url }}</a></li>
				{% endfor %}
				{% endif %}
			</ul>
		</div>
	<script>
		$('.tabular.menu .item').tab();
	</script>
{% endblock %}
