{% extends "frlsim/base.html" %}

{% block head %}
<title>#FundOurFutureNotGas Pledge | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="#FundOurFutureNotGas Pledge | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/take-action/pledge/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/sep25.jpg"/>
<meta property="og:description" content="Newcastle School Strike 4 Climate is demanding that no public funds should be spent on gas and other damaging fossil fuel projects. Will you stand with school strikers against a gas fired recovery & call on the Federal Government to #FundOurFutureNotGas?"/>
{% endblock %}

{% block hero %}
<div class="hero-image">
<style>body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("/images/sep25.jpg");

  /* Set a specific height */
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
    }</style>
  <div class="hero-text">
    <h1 class="ui inverted header">#FundOurFutureNotGas Pledge</h1>
    <h2 style="font-weight:normal">Will you stand with school strikers against a gas fired recovery & call on the Federal Government to #FundOurFutureNotGas?</h2>
  </div>
</div>
{% endblock %}

{% block content %}
  <div class="ui breadcrumb">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <a class="section" href="/take-action/">Take Action</a>
  <i class="right angle icon divider"></i>
  <div class="active section" id="schoolBreadcrumb">#FundOurFutureNotGas Pledge</div>
</div>

<h1>#FundOurFutureNotGas</h1>

<p>In response to the health and economic crises brought on by COVID-19, the Morrison Government is planning huge handouts to the gas industry - subsidising & fast tracking otherwise unviable fossil fuel projects, including dangerous fracking.</p>

<p>We are demanding that no public funds should be spent on gas and other damaging fossil fuel projects. Instead, our economic recovery funds should:</p>

<ol>
<li>Resource Aboriginal and Torres Strait Islander-led solutions that guarantee land rights and care for country.</li>
<li>Fund the creation of jobs that fast track solutions to the climate crisis and help communities recover.</li>
<li>Fund Projects that transition our economy and communities to 100% renewable energy by 2030, through expanded public ownership.</li>
</ol>

<p>School Strike 4 Climate is organising in communities around the country to create change for a sustainable future free of fossil fuels through a just transition. <b>Will you stand with us?</b></p>

<h1>Take the pledge now!</h1>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdHGce_-fTAKtZT-s70brfDyT_5-7Kla_i1Jszl2qh_-UWdPA/viewform?embedded=true" width="100%" height="1158" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

{% endblock %}

