{% extends "frlsim/base.html" %}

{% block head %}
<title>Privacy Policy | Newcastle School Strike 4 Climate</title>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
  <div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section" id="schoolBreadcrumb">Privacy Policy</div>
</div>

<h1>Privacy Policy</h1>

<p style="font-weight:bold">Newcastle School Strike 4 Climate respects and is committed to protecting your privacy. We are bound by the Privacy Act 1988 (as amended from time to time) (the "Privacy Act"), the Australian Privacy Principles (the "APPs") and the privacy provisions of other applicable legislation.</p>

<p style="font-weight:bold">This policy describes the way we collect, hold, use and store your personal information.</p>

<h2>What is personal information?</h2>

<p>Personal information is information or an opinion about an identified individual, or an individual who is reasonably identifiable whether the information or opinion is true or not, and whether the information is recorded in a material form or not.</p>

<h2>What personal information we collect</h2>

<p>The types of information we may collect and hold about you include your name, email address, telephone number, and postal code. The name of the school you attend may be collected but will be anonymised.</p>

<h2>Why we collect personal information</h2>

<p>We will only collect personal information where it is reasonably necessary for one or more of our functions or activities.</p>

<p>We collect personal information to allow us to send you opportunities to get up and participate in campaigns, to provide you with information about our network, projects and campaigns and to respond to your questions, comments or complaints.</p>

<p>We may also use your personal information for the purposes of our internal administrative, research, planning, marketing, campaigns and project development.</p>

<p>We won't use or disclose your personal information for any secondary purpose, unless:</p>

<ul>
<li>that secondary purpose is related to the primary purpose for which we collect that information and you would reasonably expect the disclosure in the circumstances;</li>
<li>or you have given us your consent.</li>
</ul>
 
<p>If you do not or unable to provide us with the requested personal information, we may not be able to provide you with the information or service that you have requested.</p>

<h2>How we collect and hold information</h2>

<p>We collect personal information you provide us through our website or by email.</p>

<p>We hold personal information in our electronic records or in those of our third party cloud computing or other services.</p>

<h2>How we make sure your personal information is protected</h2>

<p>We take appropriate security measures to protect against unauthorised access to or unauthorised alteration, disclosure or destruction of your personal information. These include internal reviews of our data collection, storage and processing practices and security measures, as well as physical security measures to guard against unauthorised access to systems where we store personal information.</p>

<p>Personal information is held only for as long as the personal information remains relevant to the purpose for which it was collected.</p>

<h2>Unsolicited personal information</h2>

<p>We don't usually collect unsolicited personal information.</p>

<p>Where we receive unsolicited personal information, we'll determine whether or not it would have been permissible to collect that personal information if it had been solicited. If we determine that collection would not have been permissible, to the extent permitted by law, we'll destroy or de-identify that personal information as soon as practicable.</p>

<p>If we determine that collection would have been permissible, we will treat that information in accordance with this policy.</p>

<h2>Access & correction</h2>

<p>We'll take all reasonable steps to ensure any personal information we collect, use or disclose is up to date and accurate.</p>

<p>If you believe that personal information we hold about you is not up to date or accurate, you may ask us to correct it. You may ask us to provide you with details of the personal information we hold about you, and copies of that information. We will respond to your request and attempt to provide you with the data within 30 days of receipt of your request.</p>

<h2>Changes to this policy</h2>

<p>Please note that this privacy policy may change from time to time. The amended policy will be published on this website.</p>

<h2>Complaints</h2>

<p>Enquiries or concerns about privacy matters, including complaints about how we handle your personal information and concerns that we have breached the APPs should be made in writing to our Privacy Officer (contact details below). We will respond to all queries as quickly as possible.</p>

<p>If you do not consider our response satisfactory, you may contact the Australian Privacy Commissioner online or by telephone on 1300 363 992.</p>

<p>Contact our privacy officer through our email: newyschoolstrike@gmail.com</p>

<a href="https://www.schoolstrike4climate.com/privacy">Adapted from the national School Strike 4 Climate Privacy Policy.</a>

{% endblock %}
