{% extends "frlsim/base.html" %}

{% block head %}
<title id="schoolTitle">Newcastle School Strike 4 Climate</title>
<meta property="og:title" id ="metaTitle" content="Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/school/{{ school }}"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/sep20.png"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
  <div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <a class="section" href="/school/">Schools</a>
  <i class="right angle icon divider"></i>
  <div class="active section" id="schoolBreadcrumb">{{ school }}</div>
	<h1 id="schoolHeader">{{ school }}</h1>
</div>

  <h2>Getting there by public transport</h2>
            
            <iframe id="googleMaps"
  width="100%"
  height="350"
  frameborder="0" style="border:0"
  src="" allowfullscreen>
</iframe>

<p style="padding-top:10px">For more detail, view the route on:</p>
<a id="googleMapsButton" href="/"><button class="ui button">
 Google Maps
</button></a> <a id="tripPlannerButton" href="/"><button class="ui button">
 Transport NSW Trip Planner
</button></a>

  <h2>Coming to the strike? Register your interest for updates!</h2>

<form class="ui form" name="submit-to-google-sheet">
  <div class="field">
    <label>Name</label>
    <div class="two fields">
      <div class="field">
        <input type="text" id="firstName" name="firstName" placeholder="First Name*" required="true">
      </div>
      <div class="field">
        <input type="text" id="lastName" name="lastName" placeholder="Last Name">
      </div>
    </div>
  </div>
  <div class="field">
    <label>Contact Details</label>
    <div class="two fields">
      <div class="field">
        <input type="email" id="email" name="email" placeholder="Email*" required="true">
      </div>
      <div class="field">
        <input type="number" id="phone" name="phone" placeholder="Phone Number">
      </div>
    </div>
  </div>
    <div class="field">
    <label>School (leave blank if not a student) and Postcode</label>
    <div class="two fields">
      <div class="field">
        <input type="text" id="schoolInput" name="school" placeholder="School" list="schools">
        <datalist id="schools">
          <option value="Belmont Christian College">
          <option value="Belmont High School">
          <option value="Bishop Tyrrell Anglican College">
          <option value="Callaghan College Jesmond Campus">
          <option value="Callaghan College Wallsend Campus">
          <option value="Callaghan College Waratah Campus">
          <option value="Cardiff High School">
          <option value="Charlton Christian College">
          <option value="Francis Greenway High School">
          <option value="Glendale Technology High School">
          <option value="Hunter Christian School">
          <option value="Hunter School of The Performing Arts">
          <option value="Hunter Sports High School">
          <option value="Hunter Valley Grammar School">
          <option value="Kotara High School">
          <option value="Lake Macquarie High School">
          <option value="Lambton High School">
          <option value="Macquarie College">
          <option value="Merewether High School">
          <option value="Newcastle Grammar School">
          <option value="Newcastle High School">
          <option value="Newcastle Rudolf Steiner School">
          <option value="San Clemente High School">
          <option value="St Francis Xavier's College">
          <option value="St Mary's Catholic College">
          <option value="St Paul's Catholic College">
          <option value="St Philip's Christian College">
          <option value="St Pius X High School">
          <option value="Swansea High School">
          <option value="Toronto High School">
          <option value="Warners Bay High School">
          <option value="West Wallsend High School">
          <option value="Whitebridge High School">
        </datalist>
      </div>
      <div class="field">
        <input type="number" id="postcode" name="postcode" placeholder="Postcode">
      </div>
    </div>
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden" id="schoolStudent" name="schoolStudent">
      <label for="schoolStudent">I am a school student</label>
    </div>
  </div>
  <div class="field">
    <div class="ui checked checkbox">
      <input type="checkbox" tabindex="0" class="hidden" id="mailingList" name="mailingList">
      <label for="mailingList">I would like to receive updates from Newcastle School Strike 4 Climate</label>
    </div>
  </div>
<p style="font-size:13px;margin-top:1em;">Your data is kept in accordance with our <a href="/privacy">privacy policy</a>.</p>
  <input class="ui button" type="submit" value="Submit">
</form>
<script>$('.ui.checkbox').checkbox();</script>

<script>
    function getSchoolName(dataSpreadsheet) {

  var filteredData = dataSpreadsheet.filter(function(d){ return d.SchoolCode == '{{ school }}' });

var schoolName = filteredData.map(function(d) {
    return d.Name;
  });
  var schoolMapsName = filteredData.map(function(d) {
    return d.MapsName;
  });
  console.log(schoolName);
  document.getElementById("schoolHeader").innerHTML = schoolName;
  document.getElementById("schoolBreadcrumb").innerHTML = schoolName;
  document.getElementById("schoolTitle").innerHTML = schoolName + ' | Newcastle School Strike 4 Climate';
  document.getElementById("metaTitle").content = schoolName + ' | Newcastle School Strike 4 Climate';
  document.getElementById("googleMaps").src = "https://www.google.com/maps/embed/v1/directions?key=AIzaSyDrWjafb6-ORHdcpXHIuzsR0lzMS73uS6o&origin=" + schoolMapsName + "&destination=Civic+Park+Newcastle&mode=transit";
  document.getElementById("schoolInput").value = schoolName;
  document.getElementById("tripPlannerButton").href = "https://transportnsw.info/trip#/trip?from=" + schoolMapsName + "&to=poiID:858274858:95342038:-1:Civic%20Park:Newcastle:Civic%20Park:ANY:POI:4946400:3653491:GDAV:nsw&dateTime=202105211200";
  document.getElementById("googleMapsButton").href = "https://www.google.com/maps/dir/" + schoolMapsName + "/Newcastle+Civic+Park,+King+St,+Newcastle+NSW+2300?travelmode=transit";
    }
    d3
  .csv("/SchoolData.csv")
  .then(getSchoolName);
  
</script>
<script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbzUeb23hWErZSNjvGy2Z2bp2EDzbf3ZsMRZZTs_ZKxUf5RlFQ8-r6LCQ7IeayT88Mu3fw/exec'
  const form = document.forms['submit-to-google-sheet']

  form.addEventListener('submit', e => {
    e.preventDefault()
    fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(function(response){
          console.log('Success!', response);
          window.location.href = "https://newyschoolstrike.com/thankyou/";
      })
      .catch(error => console.error('Error!', error.message))
  })
</script>
{% endblock %}
