{% extends "frlsim/base.html" %}

{% block head %}
<title>Schools | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="Schools | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/school/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/sep20.png"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
  <div class="ui breadcrumb" style="margin-top:3em;">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Schools</div>
</div>

  <h2>Find your school!</h2>

<a href="/school/bcc">Belmont Christian College</a><br>
<a href="/school/bhs">Belmont High School</a><br>
<a href="/school/btac">Bishop Tyrrell Anglican College</a><br>
<a href="/school/cjes">Callaghan College Jesmond Campus</a><br>
<a href="/school/cwal">Callaghan College Wallsend Campus</a><br>
<a href="/school/cwar">Callaghan College Waratah Campus</a><br>
<a href="/school/ccc">Charlton Christian College</a><br>
<a href="/school/chs">Cardiff High School</a><br>
<a href="/school/fghs">Francis Greenway High School</a><br>
<a href="/school/gram">Newcastle Grammar School</a><br>
<a href="/school/gths">Glendale Technology High School</a><br>
<a href="/school/hcs">Hunter Christian School</a><br>
<a href="/school/hsh">Hunter Sports High School</a><br>
<a href="/school/hspa">Hunter School of The Performing Arts</a><br>
<a href="/school/hvgs">Hunter Valley Grammar School</a><br>
<a href="/school/khs">Kotara High School</a><br>
<a href="/school/lhs">Lambton High School</a><br>
<a href="/school/lmhs">Lake Macquarie High School</a><br>
<a href="/school/mac">Macquarie College</a><br>
<a href="/school/mhs">Merewether High School</a><br>
<a href="/school/nhs">Newcastle High School</a><br>
<a href="/school/nrss">Newcastle Rudolf Steiner School</a><br>
<a href="/school/san">San Clemente High School</a><br>
<a href="/school/sfx">St Francis Xavier's College</a><br>
<a href="/school/shs">Swansea High School</a><br>
<a href="/school/smg">St Mary's Catholic College</a><br>
<a href="/school/spb">St Paul's Catholic College</a><br>
<a href="/school/spcc">St Philip's Christian College</a><br>
<a href="/school/spx">St Pius X High School</a><br>
<a href="/school/ths">Toronto High School</a><br>
<a href="/school/wbhs">Warners Bay High School</a><br>
<a href="/school/whs">Whitebridge High School</a><br>
<a href="/school/wwhs">West Wallsend High School</a><br>
{% endblock %}
