{% extends "frlsim/base.html" %}

{% block head %}
<title>Take Action | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="Take Action | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/take-action/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/students.jpg"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
{% endblock %}

{% block hero %}
<div class="hero-image">
<style>body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("/images/students.jpg");

  /* Set a specific height */
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
    }</style>
  <div class="hero-text">
    <h1 class="ui inverted header">Take Action</h1>
    <h2 style="font-weight:normal">Join us and strike for your future</h2>
  </div>
</div>
{% endblock %}

{% block content %}
  		
  <div class="ui breadcrumb">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section" id="schoolBreadcrumb">Take Action</div>
</div>

<h1>Take Action</h1>

<p>The earth is warming and people and animals are already dying from floods, drought and storms.</p>

<p>But there is still time.</p>

<p>Brave people all over the world are standing up to protect the world we love, our only home in the universe.</p>

<p>Everybody can do something.</p>

<p>No one is too small to make a difference.</p>

    <h4 class="ui horizontal header divider">
        <p style="color: #9e2562">Strike With Us</p>
      </h4>
<div class="ui middle aligned stackable grid container" style="margin-top: 1.5em; margin-bottom: 1.5em;">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">May 21 National Climate Strike, 12 PM, Civic Park</h3>
          <p>One of the most powerful things you can do to as a citizen is to take civil action. On May 21, we’re striking to call on the Morrison Government to invest in renewable energy and First Nations solutions that care for country, not dirty gas projects.</p>
          <p>Our event is COVID-safe and we ask that attendees follow restrictions, bring face masks and hand sanitiser, practice physical distancing of 1.5 metres, and stay home if they have cold or flu-like symptoms.</p>
        </div>
        <div class="six wide right floated column">
          <img src="/images/boy.jpg" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge primary button labeled icon" href="/may21/" style="background-color: #9e2562"><i class="right bullhorn icon"></i>Strike With Us</a>
        </div>
      </div>
    </div>
    
<h4 class="ui horizontal header divider">
    <p style="color: #9e2562">Sign Our Pledge</p>
</h4>
<div class="ui middle aligned stackable grid container" style="margin-top: 1.5em; margin-bottom: 1.5em;">
      <div class="row">
        <div class="six wide left floated column">
          <img src="/images/fundourfuturenotcoal.jpg" class="ui large bordered rounded image">
        </div>
        <div class="eight wide right floated column" style="text-align: right">
          <h3 class="ui header">Call on the Federal Government to #FundOurFutureNotGas</h3>
          <p>One of the most powerful things you can do to as a citizen is to take civil action. On May 21, we’re striking to call on the Morrison Government to invest in renewable energy and First Nations solutions that care for country, not dirty gas projects.</p>
          <p>Our event is COVID-safe and we ask that attendees follow restrictions, bring face masks and hand sanitiser, practice physical distancing of 1.5 metres, and stay home if they have cold or flu-like symptoms.</p>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge primary button labeled icon" href="/take-action/pledge/" style="background-color: #9e2562"><i class="right pencil alternate icon"></i>Sign Our Pledge</a>
        </div>
      </div>
    </div>

<h4 class="ui horizontal header divider">
    <p style="color: #9e2562">Stay Updated</p>
</h4>
<div class="ui middle aligned stackable grid container" style="margin-top: 1.5em; margin-bottom: 1.5em;">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Newcastle SS4C Mailing List</h3>
          <p>Never miss another School Strike 4 Climate event by signing up for updates from our mailing list!</p>
        </div>
        <div class="six wide right floated column">
          <img src="/images/super.jpg" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge primary button labeled icon" href="/take-action/emailsignup/" style="background-color: #9e2562"><i class="right envelope icon"></i>Stay Updated</a>
        </div>
      </div>
    </div>

<h4 class="ui horizontal header divider">
  <p style="color: #9e2562">Join the Team</p>
</h4>
<div class="ui middle aligned stackable grid container" style="margin-top: 1.5em; margin-bottom: 1.5em;">
      <div class="row">
        <div class="six wide left floated column">
          <img src="/images/team.jpg" class="ui large bordered rounded image">
        </div>
        <div class="eight wide right floated column" style="text-align: right">
          <h3 class="ui header">Join our organising team</h3>
          <p>We need all the support we can get in the lead up to the May 21 strike. That includes both adults and students. Please let us know how you can help!</p>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge primary button labeled icon" href="/take-action/join/" style="background-color: #9e2562"><i class="right users icon"></i>Join the Team</a>
        </div>
      </div>
    </div>

{% endblock %}
