{% extends "frlsim/base.html" %}

{% block head %}
<title>Thank You | Newcastle School Strike 4 Climate</title>
<meta property="og:title" content="Thank You | Newcastle School Strike 4 Climate"/>
<meta property="og:url" content="https://newyschoolstrike.com/thankyou/"/>
<meta property="og:image" content="https://newyschoolstrike.com/images/students.jpg"/>
<meta property="og:description" content="We are Newcastle School Strike 4 Climate. We strike from school to force the government to take action on climate change. 

Strike with us on May 21 to call on the government to #FundOurFutureNotGas."/>
{% endblock %}

{% block hero %}
<div class="hero-image">
<style>body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("/images/students.jpg");

  /* Set a specific height */
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
    }</style>
  <div class="hero-text">
    <h1 class="ui inverted header">Thank you for supporting School Strike 4 Climate</h1>
    <h2 style="font-weight:normal">Are you ready to do more?</h2>
  </div>
</div>
{% endblock %}

{% block content %}
  		
  <div class="ui breadcrumb">
  <a class="section" href="/">Home</a>
  <i class="right angle icon divider"></i>
  <div class="active section" id="schoolBreadcrumb">Thank You</div>
</div>

<h1>Thank you for supporting School Strike 4 Climate</h1>

<p>Keen to do more? Here's some things you can do!</p>

<a href="https://www.facebook.com/events/458390015403237/"><button class="ui facebook button">
  <i class="facebook icon"></i>
  Share the May 21 event on Facebook
</button></a> 

<a href="https://www.instagram.com/newyschoolstrike/"><button class="ui instagram button">
  <i class="instagram icon"></i>
  Follow us on Instagram
</button></a>
<br><br>

<p>Or find more ways to help on our 'Take Action' page.</p>

<a href="/take-action/"><button class="ui right labeled icon button"  style="background-color:#9e2562;color:white;">
  <i class="right arrow icon"></i>
  Take Action
</button></a>

{% endblock %}

